/* Contenedor de la barra de búsqueda */
.form-group {
    position: relative; /* Asegura que la lista de autocompletado se posicione respecto a este contenedor */
  }
  
  /* Lista de autocompletado */
  .autocomplete-list {
    position: absolute; /* Hace que la lista se posicione justo debajo de la barra */
    top: 100%; /* Coloca la lista justo debajo del input */
    left: 0;
    right: 0;
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    z-index: 1001; /* Asegúrate de que esté por encima del resto del contenido */
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Elementos individuales de la lista */
  .autocomplete-list li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .autocomplete-list li:last-child {
    border-bottom: none;
  }
  
  .autocomplete-list li:hover {
    background-color: #f9f9f9;
  }
  
  .autocomplete-list span {
    display: inline-block;
    width: 48%; /* Ajusta según sea necesario */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .autocomplete-list .id {
    font-weight: bold;
  }
  
  .autocomplete-list .name {
    color: #555;
  }
  