.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f8fafc;
}


.admin-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.admin-content {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  background-color: #f8fafc;
}

.admin-layout .sidebar {
  height: 94vh;
  position: sticky;
  top: 0;
  left: 0;
  overflow-y: auto;
  border-right: 1px solid #e2e8f0;
  background-color: white;
  z-index: 20;
}


