/* src/styles/modules/doctor/HistoriasClinicas.css */

.historias-clinicas-container {
  padding: 2rem;
  text-align: center;
  margin-top: -2rem; /* Reduce el espacio superior */
}

.options-list {
  width: 80%; /* Ampliar el ancho */
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  max-height: auto; /* Elimina la restricción de altura */
  overflow-y: visible; /* Elimina el scroll */
}

.options-list input[type="radio"] {
  margin-right: 0.5rem;
}
