.navigation-steps {
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-weight: 500;
  }
  
  .step-item {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
  }
  
  .step-item.active {
    border-color: #007bff; /* color a gusto */
    font-weight: bold;
  }
  